	#main {
	    width: 100%%;
	    padding-left: 400px;
	}
	
	#markdown-toc {
		position: absolute;
		float:left;
		left: 0px;
		top: 20px;
	}
	
	.post {
	    width: 90%;
	    -webkit-column-gap: 40px;
	    -webkit-column-width: 200px;
	    height:500px;
		overflow-x: auto;
	}
